{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Ajout Conducteur{% endblock %}

{% block body %}
    <h1>Ajout conducteur</h1>
    <div class="col-lg-4 col-md-2 col-sm-2"></div>
    <div class="formAjoutVoiture col-lg-4 col-md-8 col-sm-8 col-12">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary center-block">Ajouter</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
