{% extends 'base.html.twig' %}

{% block title %}Liste des véhicule{% endblock %}

{% block body %}

    <h1>Liste des véhicules</h1>

    <table>
        <tr>
            <th>Réferénce Véhicule</th>
            <th>Kilométrage</th>
            <th>Type de carburant</th>
            <th>Lieu</th>
            <th>Disponibilité</th>
            <th>Action</th>
        </tr>
    </table>

{% endblock %}
